.imageOne{
  width: 100%;
  height: 100%;
}
.imageOne.col{
  width: 70%;
  height: 70%;
  padding: 2%;
  border-radius: 70%;
}

.brand-logo.center{
  width: 6%;
  height: 8%;
  padding-top: 5px
}

nav{
  background-color: black;
  opacity: .80;
  position: fixed;

}

main{
  padding-top: 64px;
}

.profile{
  padding: 2%;
}
.addFav.col{
  padding-top: 8%;
}
.material-icons{
  background-color: white;
}
.btn-floating i {
    width: inherit;
    display: inline-block;
    text-align: center;
    color: #000;
    font-size: 1.6rem;
    line-height: 40px;
}

.btn.waves-effect.waves-light{
  background-color: black;
  opacity: .80;
}

header{
  background-color: black;
  opacity: .80;
}

.tagLine{
  font-size: 30px;
  font-weight: bold;
}
/*.row{
    margin: 4%;
    padding: 5% .75rem;
}*/

.profile.col {
    float: left;
    box-sizing: border-box;
    padding: 5% .75rem;
    min-height: 1px;
}

.searchLabel{
  font-weight: bold;
  padding-left: 25%;
}

.row.suggestedBeer {
  border:1px solid black;
   margin-top:0px;
   max-height: 100%;
   box-sizing: content-box;
}
.beerSearch{
  padding-top: 5px;
}

html {
  font-family: mplus-1p-thin, Helvetica, arial, freesans, clean, sans-serif;
}


.wishListTitle{
  font-weight: bold;
  font-size: 3em;
}

.wish.fiveDivs.col.s9{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: .4em;

}

.addFav.col.l3{
  font-size: .55em;
  font-weight: bold;
  font-family: mplus-2p, Helvetica, arial, freesans, clean, sans-serif;
}

.searchLabel{
    font-size: 1em;
    font-family: mplus-2p, Helvetica, arial, freesans, clean, sans-serif;
}

.mainBeer {
    font-size: 1em;
    font-family: mplus-1p, Helvetica, arial, freesans, clean, sans-serif;
}
